{% extends 'user/base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}


{% block content %}
<h1 class="text-center">Welcome to my app</h1>
<div class="container">
    <div class="row">
        
        {% for p in posts %}
        <div class="col-sm-4">
            <div class="card">
                <img src="https://dummyimage.com/250x250.png?text=Post" class="img-fluid" alt="...">
                <div class="card-body">
                    <div class="mt-2 mb-2 ">
                        <span>
                            <img src="{% static 'icons/user.png' %}" style="height: 16px;"> {{ p.author }}
                        </span>
                        <span class="ml-2">
                            <img src="{% static 'icons/clock.png' %}" style="height: 16px;"> {{ p.created_on|timesince }} ago
                        </span>
                    </div>
                    <a href="{% url 'viewpost' url=p.url %}"><h4>{{ p.title }}</h4></a>
                    <p class="card-text">{{ p.description|slice:150 }}...</p>
                </div>
            </div>
        </div>
        {% endfor %}
            
    </div>
</div>
{% endblock content %}